<template>
    <main class="py-4">
        <div class="container">
            <maps></maps>
        </div>
    </main>
</template>

<script>
    import GoogleMap from "../GoogleMap";

    export default {
        name: "Home",
        components: {
            'maps': GoogleMap,
        }
    }
</script>

<style>

</style>
