<template>
    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-12">
            <gmap-map
                    :center="center"
                    :zoom="3"
                    style="width:100%;  height: 400px;"
            >
                <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen"
                                  @closeclick="infoWinOpen=false">
                </gmap-info-window>
                <gmap-marker
                        :key="i"
                        v-for="(m, i) in markers"
                        :position="m.position"
                        @click="toggleInfoWindow(m,i)"
                ></gmap-marker>
            </gmap-map>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="card mb-3">
                <div class="card-header">Add PLace</div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Check category</label>
                        <select v-model="currentCategory" class="form-control">
                            <option v-bind:value="category" v-for="category in categories">
                                {{ category.name }}
                            </option>
                        </select>
                        <p class="text-danger" v-if="errors">{{errors.category}}</p>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <textarea v-model="description" class="form-control"></textarea>
                        <p class="text-danger" v-if="errors">{{errors.description}}</p>
                    </div>

                    <div class="form-group">
                        <label>Search and add a pin</label>
                        <gmap-autocomplete
                                @place_changed="setPlace">
                        </gmap-autocomplete>
                        <p class="text-danger" v-if="errors">{{errors.lat}}</p>
                        <p class="text-danger" v-if="errors">{{errors.lng}}</p>
                        <button class="btn mt-4" @click="addMarker">Add</button>
                    </div>
                    <p class="text-danger" v-if="errors">{{errors.full}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import * as VueGoogleMaps from "vue2-google-maps";
    import {mapState} from 'vuex';

    Vue.use(VueGoogleMaps, {
        load: {
            key: "AIzaSyCYKfqPjCyUrhM0_YlNpDV2n3LT6ZoubNY",
            libraries: "places"
        }
    });
    export default {
        name: "GoogleMap",
        data() {
            return {
                center: {
                    lat: 47.377332,
                    lng: 8.547511
                },
                places: [],
                currentPlace: null,
                categories: [],
                infoWindowPos: null,
                infoWinOpen: false,
                currentIndex: null,
                currentCategory: '',
                description: '',
                infoOptions: {
                    content: '',
                    pixelOffset: {
                        width: 0,
                        height: -40
                    }
                },
                errors: this.resetErrors()
            };
        },

        mounted() {
            this.geoLocate();
            this.getCategories();
            this.setMarkers();
        },

        methods: {
            toggleInfoWindow: function (marker, index) {
                this.infoWindowPos = marker.position;
                this.infoOptions.content = marker.infoText;
                if (this.currentIndex == index) {
                    this.infoWinOpen = !this.infoWinOpen;
                } else {
                    this.infoWinOpen = true;
                    this.currentIndex = index;
                }
            },
            setMarkers: function () {
                this.$http.get('api/places').then(response => {
                        let markers = [];
                        if (response.data.success && response.data.data) {
                            if (response.data.data) {
                                response.data.data.forEach(function (item) {
                                    markers.push({
                                        position: {
                                            lat: parseFloat(item.lat),
                                            lng: parseFloat(item.lng),
                                        },
                                        infoText: [
                                            item.description,
                                            '<strong> category:</strong> ' + item.category,
                                            '<strong> date:</strong> ' + item.date,
                                        ].join('<br/>')
                                    });
                                })
                            }
                            this.$store.commit('setMarkers', markers)
                        } else {
                            console.log(response.data);
                        }
                    }
                ).catch(response => {
                        console.log('FAILURE!!', response);
                    }
                );
                return [];
            },

            setPlace(place) {
                this.currentPlace = place;
            },

            addMarker() {
                if (this.currentPlace) {
                    const marker = {
                        lat: this.currentPlace.geometry.location.lat(),
                        lng: this.currentPlace.geometry.location.lng()
                    };
                    this.markers.push({position: marker, infoText: this.currentCategory.name + this.description});
                    this.places.push(this.currentPlace);
                    this.center = marker;
                    this.currentPlace = null;

                    let data = new FormData();

                    data.append('lat', marker.lat);
                    data.append('lng', marker.lng);
                    data.append('category', this.currentCategory.id);
                    data.append('description', this.description);
                    this.$http.post('api/place/create', data).then(response => {
                            if (response.data.success && response.data.data) {
                                    this.setMarkers();
                                    this.resetErrors();
                            } else {
                                console.log(response.data.errors);
                                this.errors = response.data.errors
                            }
                        }
                    ).catch(response => {
                            this.errors.full = response;
                            console.log('FAILURE!!', response);
                        }
                    );
                }

            },

            geoLocate: function () {
                navigator.geolocation.getCurrentPosition(position => {
                    this.center = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                });
            },

            getCategories() {
                this.$http.get('api/categories').then(response => {
                        if (response.data.success && response.data.data) {
                            if (response.data.data) {
                                this.categories = response.data.data;
                            }
                        } else {
                            console.log(response.data);
                        }
                    }
                ).catch(response => {
                        console.log('FAILURE!!', response);
                    }
                );
            },

            resetErrors: function () {
                this.errors = {
                    description: null,
                    category: null,
                    lat: null,
                    lng: null,
                    full: null,
                };
                return this.errors;
            }
        },

        computed:
            mapState({
                markers: state => state.markers,
            })
    };
</script>