<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item" v-for="menu in menus" v-show="menu.isShow">
                        <a class="nav-link" :href="menu.link">{{menu.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>

    export default {
        data() {
            return {
                menus: [
                    {
                        link: '/',
                        name: 'Home',
                        isShow: true,
                    }
                ]
            }
        }
    }
</script>

<stile>

</stile>
